body {
    background-color: SlateGrey;
}

.divTable
{
    display: table;
    width:auto;
    background-color:SlateGrey;
    border:1px solid #666666;
    border-spacing:5px;
    margin-top: 1em;
    clear: both;
    margin-left: 1em;

}

img.header {
    float: left;
    vertical-align: middle;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

.titletext {
    padding-top: .75em;
    font-weight: bold;
    font-size: xx-large;
    vertical-align: middle;
}

.subtitle {
    font-size: large;
    vertical-align: middle;
}

.thumbnail {
    border: 1px;
    vertical-align: middle;
}

.row
{
   display:table-row;
   width:auto;
}

.header
{
    font-weight:bold;
}
.cell
{
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    width:350px;
    background-color:DarkGray;
}
