body {
    background-color: SlateGrey;
    font-family: sans-serif;
}

.title
{
    border: 1px solid black;
    margin-left: 1em;
    width: 500px;
    clear:both;
}

div#thumbnail {
    float:left;
    width: 84px;
    padding-left: 1em;
}

div#title {
    float: left;
    width: 50%;
    height: 84px;
    margin-top: 1em;
    margin-left: 1em;
}

div#charname {
    font-size: xx-large;
    font-weight: bold;
}

div#subtitle {
    font-size: normal;
}

.content
{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

.divTable
{
    display: table;
    width:auto;
    background-color:SlateGrey;
    border:1px solid #666666;
    clear: both;
}

.row
{
   display:table-row;
}

.cell
{
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    width:350px;
    background-color:DarkGray;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
