.divTable
{
    display: table;
    width:auto;
    background-color:#eee;
    border:1px solid  #666666;
    border-spacing:5px;
    margin-top: 1em;
}

.row
{
   display:table-row;
   width:auto;
}

.header
{
    font-weight:bold;
}
.cell
{
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    width:350px;
    background-color:#ddd;
}
