<html>
<head>
  <title>{{ name }}</title>
  <link rel="stylesheet" href="/public/global.css">
</head>
<body>

    <div style="overflow: hidden;">
       <div id="thumbnail">
          <img src="{{thumbnail_url}}">
       </div>
       <div id="title">
          <div id="charname">
             {{name}}
          </div>
          <div id="subtitle">
             {{class}}
             <br>
             Last scanned: {{last_crawled_at | date(format="%A %B %d, %Y at %H:%M", timezone="America/Los_Angeles")}}
          </div>
       </div>
       <div class="nav"><a href="/roster">Roster</a></div>
    </div>

    <div class="content">
      <h2>Recent Dungeons</h2>
      <div class="divTable">
          {% for run in mythic_plus_recent_runs %}
            <div class="row">
              <div class="cell{% if run.current == false%} outofdate{% endif %}">
                <a href="{{run.url}}">{{ run.name }}</a> ({{ run.mythic_level}}) +{{run.num_keystone_upgrades}}
              </div>
            <div class="cell{% if run.current == false%} outofdate{% endif %}">{{ run.completed_at | date(format="%A %B %d, %Y at %H:%M", timezone="America/Los_Angeles") }}</div>
            </div>
          {% endfor %}
      </div>

      <h2>Best Dungeons</h2>
      <div class="divTable">
          {% for run in mythic_plus_best_runs %}
            <div class="row">
              <div class="cell">
                <a href="{{run.url}}">{{ run.name }}</a> ({{ run.mythic_level}}) +{{run.num_keystone_upgrades}}
              </div>
            <div class="cell">{{ run.completed_at | date(format="%A %B %d, %Y at %H:%M", timezone="America/Los_Angeles") }}</div>
            </div>
          {% endfor %}
      </div>
    </div>

</body>
</html>