<html>
<head>
<title>Guild Roster - {{ name }} </title>
<link rel="stylesheet" href="/public/global.css">
</head>

<body>
<h1> {{ name }} </h1>

<div class="divTable">

    <div class="row header">
      <div class="cell">Name</div>
      <div class="cell">Class</div>
      <div class="cell">Rank</div>
    </div>

    {% for c in characters | sort(attribute="name") | sort(attribute="rank") %}
      {% if c.rank < 5 %}
      <div class="row">
        <div class="cell">
          <a href="/character/{{c.name}}">{{c.name}}</a></div>
        <div class="cell">{{c.class}}</div>
        <div class="cell">{{c.rank}}</div>
      </div>
      {% endif %}
    {% endfor %}

</div>

</body>
</html>