<html>
<head>
<title>Guild Roster - {{ name }} </title>
<style type="text/css">
    .divTable
    {
        display: table;
        width:auto;
        background-color:#eee;
        border:1px solid  #666666;
        border-spacing:5px;
    }

    .row
    {
       display:table-row;
       width:auto;
    }

    .header
    {
        font-weight:bold;
    }
    .cell
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:350px;
        background-color:#ddd;
    }
</style>

</head>
<body>
<h1> {{ name }} </h1>

<div class="divTable">

    <div class="row header">
      <div class="cell">Name</div>
      <div class="cell">Class</div>
      <div class="cell">Rank</div>
    </div>

    {% for member in members %}
      <div class="row">
        <div class="cell">{{member.character.name}}</div>
        <div class="cell">{{member.character.class}}</div>
        <div class="cell">{{member.rank}}</div>
      </div>
    {% endfor %}

</div>

</body>
</html>