<html>
<head>
<title>Guild Roster - {{ name }} </title>
<link rel="stylesheet" href="/public/global.css">
</head>

<body>
<h1> {{ name }} </h1>

<div class="divTable">

    <div class="row header">
      <div class="cell">Name</div>
      <div class="cell">Class</div>
      <div class="cell">Rank</div>
    </div>

    {% for member in members | sort(attribute="rank") %}
      {% if member.rank < 5 %}
      <div class="row">
        <div class="cell">
          <a href="/character/{{member.character.name}}">{{member.character.name}}</a></div>
        <div class="cell">{{member.character.class}}</div>
        <div class="cell">{{member.rank}}</div>
      </div>
      {% endif %}
    {% endfor %}

</div>

</body>
</html>